# Java artifact
**/*.jar
**/*.war
**/*.ear

# Compile stuff
**/*.class
**/build
**/bin
**/classes

# IntelliJ IDEA IDE
.idea
**/*.iml

# Eclipse IDE
.project
.classpath
.settings

# Other
out
*.ipr
*.iws

